@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
html {
    background-color: #202020;
    border: 1px dashed;
    background-image: url(image/darknoise.png);
}

* {
    margin: 0;

}

.panel-left {
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(image/maxresdefault.jpg);
    position: fixed;
}

.panel_right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-left: 50%;
}

.user_form__header {
    text-align: center;
    font-family: "Game of Thrones", serif;
    font-size: 1.5em;
    color: #d3bb89;
    padding-bottom: 10%;
}

.user_form {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    flex-direction: column;
    margin-top: 10%;
}

.user_form__report {
    font-family: sans-serif;
    font-size: 0.8em;
    color: white;
    border-left: 2px solid;
    border-color: #d3bb89;
    padding-left: 10px;
}

.user_form__input {
    font-family: 'EB Garamond', serif;
    display: grid;
    padding-bottom: 5%;
    padding-top: 5%;
    border-bottom: 2px solid;
    border-color: #d3bb89;
}

.user_form__input .input_paragraph {
    font-family: 'EB Garamond', serif ;
    font-size: 1rem;
    color: white;
    margin: 0;
}

.user_form__input .input {
    background-color: inherit;
    border: none;
    padding-top: 5%;
    outline: none;
    color: #fef8eb;
}
.user_form__input_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input_label {
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    color: #d3bb89;


}

#select_house {
    padding-top: 5%;
    border: none;
    background-color: #202020;
    background-image: url(image/darknoise.png);
    color: #fef8eb;
    outline: none;
}

.input_textarea {
    padding-top: 5%;
    border: none;
    background-color: inherit;
    color: #fef8eb;
    resize: none;
    outline: none;
}


.button {
    margin-top: 5%;
    height: 40px;
    background-color: #c19a49;
    color: #fef8eb;
    border: none;
}

.user_form__checkbox {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    padding-top: 5%;
    color: #d3bb89;
    font-family: 'EB Garamond', serif;
}

.user_form__checkbox_button {
    overflow: hidden;
    background-color: #d3bb89;
    color: #d3bb89;

}

@font-face {
    font-family: "Game of Thrones";
    src: url("fonts/Game of Thrones.ttf");
    font-weight: normal;
}